<!-- <div class="container">
  container
</div> -->


<div class="container-fluid">
  <!-- <div class="row">
    <div class="col-4">this is first div</div>
    <div class="col-5">this is first div</div>
    <div class="col-3">this is first div</div>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-danger btn-lg">Default</button>
    <button type="button" class="btn btn-primary btn-sm">Small</button>
  </div>

  <div>
    <button type="button" class="btn btn-outline-danger btn-lg">Default</button>
    <button type="button" class="btn btn-outline-primary btn-sm">Small</button>
  </div>

  <div class="alert alert-success">
    hello world
  </div>  -->

  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>


  <div class="container-table table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <tr class="table-success">
        <td>name</td>
        <td>contact</td>
        <td>cell</td>
        <td>address</td>
        <td>name</td>
        <td>contact</td>
        <td>cell</td>
        <td>address</td>
        <td>name</td>
        <td>contact</td>
        <td>cell</td>
        <td>adhbhkbkjhj</td>


      </tr>

      <tr class="table-danger">
        <td>aaa</td>
        <td>container-table</td>
        <td>cdlbn</td>
        <td>ress</td>
        <td>aaa</td>
        <td>container-table</td>
        <td>cdlbn</td>
        <td>ress</td>
        <td>aaa</td>
        <td>container-table</td>
        <td>cdlbn</td>
        <td>ress</td>
      </tr>

      <tr class="table-info">
        <td>na</td>
        <td>conjnnntact</td>
        <td>cebll</td>
        <td>adhjkkjdress</td>
        <td>na</td>
        <td>conjnnntact</td>
        <td>cebll</td>
        <td>adhjkkjdress</td>
        <td>na</td>
        <td>conjnnntact</td>
        <td>cebll</td>
        <td>adhjkkjdress</td>
      </tr>

      <tr class="table-warning">
        <td>najnjnjme</td>
        <td>cohjkjnntact</td>
        <td>cehbj ll</td>
        <td>addbhjbhbress</td>
        <td>najnjnjme</td>
        <td>cohjkjnntact</td>
        <td>cehbj ll</td>
        <td>addbhjbhbress</td>
        <td>najnjnjme</td>
        <td>cohjkjnntact</td>
        <td>cehbj ll</td>
        <td>addbhjbhbress</td>
      </tr>


    </table>
  </div>


  <!-- <button type = "button" class=" btn btn-success" data-toggle="modal" data-target="#mymodal">click me</button>
  <div class="modal" id="mymodal">
    <div class="header">header</div>
  </div> -->


  <div class="container">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>





</div>